<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wool-Community</title>
    <!-- 引入bootstrap样式、自定义css以及js start-->
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/community.css}">
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <!-- 引入bootstrap样式以及js end-->


</head>
<body>
<div th:replace="navigation::navbar-header"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>发现</h2>
            <hr>
            <div class="media" th:each="question:${paginationDTO.questionDTOList}">
                <a class="pull-left" href="#">
                    <img class="media-object img-rounded" th:src="${question.user.getAvatarUrl()}">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a th:href="@{'/question/'+${question.id}}" th:text="${question.title}"></a>
                    </h4>
                    <span th:text="${question.description}"></span> <br>
                    <span class="text-desc">
                          •<span th:text="${question.getCommentCount()}"></span>个回复
                          •<span th:text="${question.getViewCount()}"></span> 次浏览
                          •发布时间：<span th:text="${#dates.format(question.getGmtCreate(),'yyyy-MM-dd HH:mm:ss')}"></span></span>
                </div>
            </div>
            <ul class="pagination">
                <li><a th:href="@{/(page=1)}" th:if="${paginationDTO.showFirstPage}">&laquo;</a></li>
                <li><a th:href="@{/(page=${paginationDTO.page}-1)}" th:if="${paginationDTO.showPrevious}">&lsaquo;</a></li>
                <li th:each="page:${paginationDTO.pages}" th:class="${paginationDTO.page==page}?'active':''">
                    <a th:href="@{/(page=${page})}" th:text="${page}"></a>
                </li>
                <li><a th:href="@{/(page=${paginationDTO.page}+1)}"  th:if="${paginationDTO.showNext}">&rsaquo;</a></li>
                <li><a th:href="@{/(page=${paginationDTO.totalPage})}"  th:if="${paginationDTO.showEndPage}">&raquo;</a></li>
            </ul>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>热门话题</h3>
        </div>
    </div>
</div>
</body>
</html>